/* .post {
    height: 500px;
    background-color: #212226;
    color: #fff;

    margin-top: 20px;
}

.post .caption {
    height: inherit;
    background-color: inherit;
    float: left;
    padding: 2rem;
    width: 30%;
}

.post .content {
    height: inherit;
    padding: 10px;

    float: left;
    padding: 0;

    width: 70%;
}

.post .content .img {
    height: 100%;
}

.post .author {
    margin-bottom: 5rem;
}


.post .author .avatar {

    float: left;
    width: 3rem;
    border-radius: 50%;
}

.post .author .name {

    float: left;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}

.post .meta {
    float: left;
    padding-left: 1rem;
    size: .6rem;
    color: #000;
}

.post .caption .text {
    margin: 1rem 0;
}

.post .category {
    visibility: visible;

    top: 10%;
    right: 0;
    padding: .5rem;
    background-color: #808080;
    z-index: 5;
}

.post .caption .meta {
    float: left;
    padding-left: 1rem;
    color: #808080;
} */




.post {

    background-color: #fff;
    color: #000;

    margin-top: 20px;

    height: 500px;
  }
  .post .caption {
    position: relative;
    height: inherit;
    float: left;
    padding: 2rem;
    width: 70%;
    background-color:#212226;
    color: #fff;
  }
  .post .content {
    position: relative;
    height: inherit;
    float: left;
    padding: 0;
    width: 30%;
  }
  .post .content .img {
    width: 100%;
    height: 100%;

    position: absolute;
      top: 0;
  }
  .post .author {
    position: relative;
    margin-bottom: 5rem;
    padding: 2rem;
    z-index: 5;
  }
  .post .author .avatar {
    position: relative;
    float: left;
    width: 3rem;
    border-radius: 50%;
  }
  .post .author .name {
    position: relative;
    float: left;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
  }
  .post .meta {
    float: left;
    padding-left: 1rem;
    size: .6rem;
    color: #000;
  }
  .post .caption .text {
    margin: 1rem 0;

    position: absolute;
    top: 50%;
    padding: 2rem;
    transform: translate(0, -50%);
    color: #ddd;
  }
  .post .category {
    visibility: visible;
  }


    .post .author .meta {
      float: left;
      padding-left: 1rem;
    }

    .post .caption .category {
      margin-top: 1rem; 
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 400; 
    }



    .fa-red {
        color: red;
    }

    .fa-green {
        color: green;
    }

    .fa-red-hover:hover {
        color: red;
    }

    .fa-green-hover:hover {
        color: green;
    }