<div class="container" style="clear:both;">

    <!-- <div class="post" *ngFor="let post of posts">
        <div class="caption">
            <div class="author">
                <img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">
                <div class="name">
                    <a>@shu3aybbadran</a>
                </div>
                <br/>
                <div class="meta">
                    <i class="far fa-calendar-alt"></i> 2 min -
                    <i class="fas fa-globe"></i> puplic</div>
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Iusto modi dolore ducimus magnam fuga quae error
                    consequatur perspiciatis doloribus, deserunt veritatis, excepturi amet, nihil maxime est illum tempore?
                    Voluptatibus, eum?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi dolore vero consectetur?</p>
            </div>
        </div>

        <div class="content">
            <img src="https://cdn.stocksnap.io/img-thumbs/960w/VZBJUVPO25.jpg" class="img" alt="">
        </div>
    </div> -->


    <div class="post" *ngFor="let post of posts">
        <div class="content">
            <div class="author">
                <img src="{{post.owner_image_url}}" alt="" class="avatar">
                <div class="name">@{{post.owner_name}}</div>
                <br/>
                <div class="meta">
                    <!-- <i class="fas fa-map-marker-alt"></i> Syria -->
                </div>
            </div>
            <img src="https://cdn.stocksnap.io/img-thumbs/960w/VZBJUVPO25.jpg" class="img" alt="">
        </div>
        <div class="caption">
            <div class="text">
                <h2 class="display-4">{{post.title}}</h2>
                <!-- <div class="category">post category</div> -->
                <p>{{post.content}}</p>
            </div>
            <i class="fa fa-thumbs-up fa-green-hover" style="cursor: pointer;" (click)="post_vote_up(post)"></i>
            <span [ngClass]="{'fa-red' : post.votes < 0, 'fa-green' : post.votes > 0}"> {{post.votes}} </span>
            <i class="fa fa-thumbs-down fa-red-hover" style="cursor: pointer;" (click)="post_vote_down(post)"></i>
        </div>
    </div>

</div>